/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

/*base*/
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
/*radial status circle thing*/
@import url("ttps://discordstyles.github.io/RadialStatus/RadialStatus.css");
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* customize things here */
:root {
    
	/* top left corner text */
	--corner-text: 'meiji16';

  /*RADIAL STATUS CODE starts here*/
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  /*RADIAL STATUS CODE ends here*/

	/* font, change to 'gg sans' for default discord font*/
	--font: 'Nunito';

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.10s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 40s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */


	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: none;
	--moon-icon-size: auto;
	--version1_0_5:			none;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
 
 /*placement*/
  content: "";
  position: fixed;
  z-index: 0;

--backdrop-image: var(--background-image);
--backdrop-position: var(--background-position);
--backdrop-size: var(--background-size);
--backdrop-repeat: var(--background-repeat);
--backdrop-attachment: var(--background-attachment);
--backdrop-brightness: var(--background-brightness);
--backdrop-contrast: var(--background-contrast);
--backdrop-saturation: var(--background-saturation);
--backdrop-invert: var(--background-invert);
--backdrop-grayscale: var(--background-grayscale);
--backdrop-sepia: var(--background-sepia);
--backdrop-blur: var(--background-blur);
--user-popout-image: var(--background-image);
--user-popout-position: var(--background-position);
--user-popout-size: var(--background-size);
--user-popout-repeat: var(--background-repeat);
--user-popout-attachment: var(--background-attachment);
--user-popout-brightness: var(--background-brightness);
--user-popout-contrast: var(--background-contrast);
--user-popout-saturation: var(--background-saturation);
--user-popout-invert: var(--background-invert);
--user-popout-grayscale: var(--background-grayscale);
--user-popout-sepia: var(--background-sepia);
--user-popout-blur: calc(var(--background-blur) + 3px);
--user-popout-overlay: rgba(0, 0, 0, 0.65);
--user-modal-image: var(--background-image);
--user-modal-position: var(--background-position);
--user-modal-size: var(--background-size);
--user-modal-repeat: var(--background-repeat);
--user-modal-attachment: var(--background-attachment);
--user-modal-brightness: var(--background-brightness);
--user-modal-contrast: var(--background-contrast);
--user-modal-saturation: var(--background-saturation);
--user-modal-invert: var(--background-invert);
--user-modal-grayscale: var(--background-grayscale);
--user-modal-sepia: var(--background-sepia);
--user-modal-blur: calc(var(--background-blur) + 3px);
}

/*important BG CODE*/
.appMount_fae9dd{background:var(--background-overlay)}
.app_de4237{background:rgba(0,0,0,0)}
.bg__12180{
    background:var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
    filter:grayscale(var(--background-grayscale)) sepia(var(--background-sepia)) invert(var(--background-invert)) brightness(var(--background-brightness)) contrast(var(--background-contrast)) saturate(var(--background-saturation)) blur(var(--background-blur));
    z-index:-5;
}


